@import '../../global.scss';

.bodyHome {
    display: flex;

    width: 100vw;
    height: 100vh;

    font-family: Poppins, sans-serif;

    overflow: hidden;

    article {
        width: 100%;

        padding: 3rem;
    }
    
}