@import '../../styles/global.scss';

.eventModal {

    max-height: 90%;
    overflow-y: scroll;

    .calendarContainer {
        margin-bottom: 1rem;
    }

    #listUsers, #selectStatus {

        #users, #status {
            margin-bottom: 0;
            padding-top: 0;
            padding-bottom: 0;
        }

        span {
            cursor: pointer;

            transition: all .2s ease-in-out;

            &:hover {
                color: red;
            }
        }
    }

    #btnCreateEvent, #btnAddParticipant {
        background-color: $purple;
        color: #fff;
    }

    #btnDeleteEvent {
        background-color: rgb(204, 70, 70);
        color: #fff;
    }

}

