@import '../../global.scss';

.eventModal {

    max-height: 90%;
    overflow-y: scroll;

    .calendarContainer {
        margin-bottom: 1rem;
    }

    #btnCreateEvent {
        background-color: $purple;
    
        color: #fff;
    }

}

