@import '../../styles/global.scss';

.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 100vh;
    padding-top: 2rem;

    position: relative;

    background-color: $grey;

    transition: all .4s ease-in-out;

    font-family: Poppins, sans-serif;

    .logoWrapper {
        display: flex;
        align-items: center;
        height: 4rem;
        width: 100%;

        position: relative;

        user-select: none;

        cursor: pointer;

        h3 {
            margin: 0;
        }

        #arrow {
            position: absolute;
            right: -12px;
            top: 30%;
        }
    }

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        margin: 0;
        padding: .5rem;

        list-style: none;

        hr {
            margin: 1rem 0;
            color: $dark-grey;
            height: 1px;
            width: 100%;
        }

        li {
            display: flex;
            align-items: center;
            width: 100%;

            margin: .5rem 0;
            padding: .5rem 0 .5rem 1rem;

            background-color: #EEECF8;

            border-radius: 8px;

            cursor: pointer;

            a {
                text-decoration: none;
                display: flex;
                align-items: center;
                width: 100%;

                svg {
                    min-width: 24px;
                }
    
                span {
                    font-weight: 500;
                    color: #757B84;
                    margin-left: 1rem;
                    user-select: none;
                }
            }
        }
    }

    .userWrapper {
        display: flex;
        align-items: center;
        width: 100%;
        height: 3rem;

        padding: 0 1rem;

        position: absolute;
        bottom: 5px;

        border-top: 1px solid $light-grey;

        cursor: pointer;

        img {
            object-fit: cover;
            height: 40px;
            width: 40px;

            border-radius: 100%;
        }

        .textWrapper {
            display: flex;
            flex-direction: column;
            margin-left: 1rem;
        }
    }
}

.active {
    width: 17%;

    .logoWrapper {
        display: flex;
        justify-content: center;

        h3 {
            animation: fadeIn 1s;
        }

        #arrow {
            transform: rotate(-180deg);
            transition: all .4s ease-in-out;
        }
    }

    ul li a span {
        animation: fadeIn 1s;
    }

    .userWrapper {

        .textWrapper {
            animation: fadeIn 1s;
        }
    }
}

.inactive {
    width: 5%;

    .logoWrapper {

        display: flex;
        justify-content: center;

        h3 {
            display: none;
        }
    }

    ul {

        li {
            padding: .5rem;
            min-width: 30px;
            min-height: 30px;

            a {
                justify-content: center;

                span {
                    display: none;
                }
            }

        }

    }

    .userWrapper {
        justify-content: center;

        .textWrapper {
            display: none;
        }

    }

}

@keyframes fadeIn {
    0% { opacity: 0; display: none; }
    100% { opacity: 1; display: block; }
  }

