@import '../../styles/global.scss';

main {
    display: flex;

    .sectionUsers {
        display: flex;
        flex-direction: column;
        align-items: center;

        width: 100%;

        padding: 2rem;

        h1 b {
            color: $purple;
        }

        .tableUsers {
            width: 70%;

            tbody {

                .profileImgWrapper {
                    width: 50px;
                    height: 50px;
        
                    img {
                        max-width: 100%;
                        max-height: 100%;
        
                        object-fit: cover;
                    }
                }
        
                tr {
                    transition: all 0.2s ease-in-out;

                    background-color: $grey;

                    td {
                        border-bottom: 1px solid #e4e4e4;

                        button {
                            cursor: pointer;
                            font-size: 12px;

                            background-color: $purple;
                            color: #fff;
                        }
                    }

                    td:nth-child(2) {
                        color: $purple;
                    }
    
                }
            }
        }
    }
}